body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    color: #007bff; /* 鮮やかな青色 */
}

h2 {
    color: #28a745; /* 鮮やかな緑色 */
}

label {
    color: #6c757d; /* グレー */
}

button {
    background-color: #007bff; /* 鮮やかな青色 */
    color: #fff; /* 白色 */
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* より濃い青色 */
}

ul {
    list-style-type: none;
}

p {
    color: #dc3545; /* 赤色 */
}

.error-message {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* エラーメッセージのフォントを調整 */
    font-size: 18px; /* エラーメッセージのフォントサイズを調整 */
    font-weight: bold;
    color: #dc3545;
}
