<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トリコ！！検索</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h2>今熱いぞ小松！！</h2>
    <ul id="hotwords-list">
        <% hotWords.forEach(word => { %>
            <li><%= word._id %></li>
        <% }); %>
    </ul>    

    <h2>トリコ！！投稿</h2>
    <form action="/search" method="post">
        <label for="query">モンスター投稿</label>
        <!-- 入力スペース -->
        <input type="text" id="body" name="q" placeholder="ここにテキトー入力しろ！">
        <!-- 検索ボタン -->
        <button type="submit">投稿</button>
    </form>

    <h1>トリコ！！検索</h1>

        <!-- モンスター検索フォーム -->
        <form action="/search" method="get">
        <label for="query">モンスター検索！</label>
        <!-- 入力スペース -->
        <input type="text" id="query" name="q" placeholder="ここにテキトー入力しろ！">
        <!-- 検索ボタン -->
        <button type="submit">検索！！</button>
    </form>

    <!-- 捕獲レベル検索フォーム -->
    <form action="/search-lebel" method="get">
        <label for="levelQuery">捕獲レベル検索！</label>
        <!-- 入力スペース -->
        <input type="text" id="levelQuery" name="q" placeholder="ここにモンスター名か捕獲レベルを入力しろ！">
        <!-- 検索ボタン -->
        <button type="submit">検索！！</button>
    </form>
    <!-- クイズページに移行するボタン -->
    <a href="/quiz">クイズを受ける</a>
    </form>
    <h3>見つけたぞ小松！！</h3>
    <!-- 検索結果を表示 -->
    
</body>
</html>
