<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>モンスター検索</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>トリコ！！検索</h1>
    <form action="/search" method="get">
        <label for="query">モンスター検索！</label>
        <!-- 入力スペース -->
        <input type="text" id="query" name="q" placeholder="ここにモンスター名を入力しろぉ">
        <!-- 検索ボタン -->
        <button type="submit">検索！！</button>
    </form>

    <form action="/search-lebel" method="get">
        <label for="levelQuery">捕獲レベル検索！</label>
        <!-- 入力スペース -->
        <input type="text" id="levelQuery" name="q" placeholder="ここに捕獲レベルを入力しろぉ">
        <!-- 検索ボタン -->
        <button type="submit1">検索！！</button>
    </form>
    <h3>見つけたぞ小松！！</h3>
    <!-- 検索結果を表示 -->
    <ul>
        <% if (results && results.length > 0) { %>
            <% for (let i = 0; i < results.length; i++) { %>
                <li><%= results[i] %></li>
            <% } %>
        <% } else { %>
            <li><%= error %></li>
        <% } %>
    </ul>         
</body>
</html>

